<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express Practice</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700;900&family=Poppins:wght@100;400;600&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/stylesheet.css">
</head>

<body>
  <div class="border-container">
    <header>
      <nav class="nav-bar">
        <div class="home"><a href="/" class="link link-home">回到首頁</a></div>
        <div class="about"><a href="/about" class="link link-about">About</a></div>
        <div class="portfolio"><a href="/portfolio" class="link link-portfolio">Portfolio</a></div>
        <div class="contact"><a href="/contact" class="link link-contact">Contact</a></div>
      </nav>
      {{{ body }}}
    </header>
  </div>
</body>

</html>